
/* Gloabal */

.App {
  text-align: center;
  
}

/* Native font-stack */

html{
  height:100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont,
  “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
  “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
  sans-serif;
}

a{
  color: #F2937E;
}

a:hover{
  text-decoration: none;
  color: #B49F9A;
}