/* Navigation */

.Navi{
    padding: 1%;
    font-size: 1.25em;
    display: flex;
    justify-content: space-evenly;
}

.welcome{

padding-top: 0.300em;
padding-left: 5.938em;
 padding-right: 0.938em;
 font-style: italic;
  font-family: "Times New Roman", Times, serif;
  color: #f7995b;
  font-size: 25px;

}
.navigate{
    background: inherit;
    flex: 0 0 100%;
    border-width: 0em;
}

.Logo{
    padding-top: 0.625em;
    padding-right: 0.938em;
    padding-bottom: 0.625em;
    padding-left: 0.938em;
    float:left;
}

.navbar-default .navbar-nav>li>a {
    color: #f7995b;
}

.navbar-default .navbar-nav>li>a:hover{
    background-color: #FFC04D;
    color: white;
}

@media (max-width: 767px) {
    .Navi{
        display: flex;
        flex-direction: column;
    }
}