/* Navigation */

.Navi{
    padding: 1%;
    font-size: 1.1em;
    justify-content: space-between;
   
}

.nav-pills>li>a:hover{
    background-color: #FFC04D;
    color: white;
}

.Logo{
    padding-top: 0.625em;
    padding-right: 0.938em;
    padding-bottom: 0.625em;
    padding-left: 0.938em;
    float:left;
}

.nav-pills>li>a {
    color: #f7995b;
}
